{% extends "layout.html" %}
{% block content %}
<!--    <h1>About Page</h1>-->
    <main id="main">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">About Developing company</h1>
          <p class="lead"> Address of Copmany: Astana city, Mangilik El st. 1 </p>
          <hr class="my-4">
          <p>E-mail: <a href="mailto:pol-ka1@med.mail.kz">aitu@mail.kz </a></p>
          <p>Tel.: <a href="tel:77273974790">+7(7271)3974790</a></p>
          <!-- <iframe class = "iframe col-md-7" width="425" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.openstreetmap.org/export/embed.html?bbox=76.94822609424592%2C43.259491136972116%2C76.95512473583223%2C43.262163245703356&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=15/51.0905/71.4114"></a></small> -->
          <iframe class = "iframe col-md-7" width="425" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=71.40531778335573%2C51.08651513319696%2C71.42540216445924%2C51.095733546239934&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=16/51.0911/71.4154">View Larger Map</a></small>


          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum fringilla lectus, id auctor ligula eleifend eu. Pellentesque laoreet mauris eu turpis fermentum malesuada. Praesent in nulla ut dolor porttitor vehicula. Praesent bibendum lectus ut lacus condimentum, sit amet vehicula velit condimentum. Donec congue congue felis, eu finibus mi rutrum sed. Etiam bibendum tellus ac lorem semper ultricies. Integer lobortis mollis turpis, at iaculis nunc. Donec congue neque sit amet nibh ultrices viverra. Cras non tellus vitae tellus mollis pulvinar sed varius erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            Sed posuere diam sapien, vitae molestie dolor accumsan ut. Pellentesque ac nisi sed mauris vehicula iaculis. Sed id rutrum nisl, sit amet congue mauris. Curabitur ipsum neque, tincidunt ac ante finibus, lobortis accumsan leo. Integer ultricies fringilla libero, at hendrerit metus vehicula id. Aliquam non hendrerit dui, nec tincidunt purus. Aenean faucibus erat vitae libero.
          </p>
        </div>
    </main><!-- End #main -->
{% endblock content %}